#nav li {
  list-style-type: none;
  margin: 0;
  padding-bottom: 20px;
  float: left;
  position: relative;
}
#nav a {
  display: block;
  padding: 10px 20px;
  margin: 0;
  border-left: #ccc 1px solid;
  color: #e7e5e5;
  background-color: #736c56;
  font-weight: bold;
  text-decoration: none;
}
#nav ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 40px;
  width: 150px;
  /* Fix for IE 7 */
  background-color: #fff;
}
#nav li:hover > ul {
  display: block;
}
#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
  border-top: #ccc 1px solid;
}
#nav ul ul {
  /* width: 150px; */
  left: 150px;
  top: 5px;
}

/* extra code */
#nav li:hover > a {
  background-color: #a38e6d;
  color: #444;
}
#nav li:hover > a,
#nav a:focus {
  background-color: #a38e6d;
  color: #444;
}
#nav ul a {
  background-color: #8c3a40;
}
#nav ul li:hover > a {
  background-color: #c2644f;
}
